light = {
  name: "light", //标识主题
  elColor: hsl(0, 0%, 100%), // 主要背景色
  textColor: hsl(200, 15%, 8%)//输入文本颜色
  shadowColor: #ccc//阴影颜色
  toggleColor: #e1e1e1 //次要字体颜色
}

dark = {
  name: "dark", //标识主题
  elColor: hsl(209, 23%, 22%), // 主要背景色
  textColor: hsl(0, 0%, 100%), //背景抬头颜色
  shadowColor: hsl(200, 15%, 15%), //阴影颜色
  toggleColor : hsl(207, 26%, 17%) //主要字体颜色
}

themeList = (light dark);